@import "tailwindcss";

@font-face {
  font-family: "Proxon";
  src: local("Proxon"),
    url("./Fonts/PROXON.ttf") format("truetype");
}

.font-Proxon {
  font-family: "Proxon", sans-serif;
}

/* Existing styles... */

@keyframes slider {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    90% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.animate-slider {
    display: flex;
    animation: slider 5s linear infinite;
}
